<!DOCTYPE html>
<html>
<head>
  <title>炎上エミュレータ</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container grid-list-sm>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-card-title class="headline grey lighten-2">How to play</v-card-title>
                <v-card-text>
                  次々と投稿される誹謗中傷コメントをクリックして削除しよう<br>
                  ただし投稿の中には普通のコメントもあるので、これらはクリックすると減点<br>
                  制限時間内により多くのコメントを削除できたら勝ち<br>
                  <v-btn color="info">スタート</v-button>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card>
                <v-toolbar color="cyan" dark>     
                  <v-toolbar-title>コメント (新着{{num_messages}}件)</v-toolbar-title>
                </v-toolbar>
        
                <v-list two-line>
                  <template v-for="(item, index) in items">
                    <v-subheader
                      v-if="item.header"
                      :key="item.header"
                    >
                      {{ item.header }}
                    </v-subheader>
        
                    <v-list-tile
                      v-else
                      :key="item.title"
                      avatar
                      @click="selectAsSpam"
                    >
                      <v-list-tile-avatar>
                        <img :src="item.avatar">
                      </v-list-tile-avatar>
        
                      <v-list-tile-content>
                        <v-list-tile-sub-title v-html="item.name"></v-list-tile-sub-title>
                        <v-list-tile-title v-html="item.comment"></v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <v-icon>bug_report</v-icon>
                      </v-list-tile-action>
                    </v-list-tile>
                    <v-divider
                      :inset="true"
                      :key="index"
                    ></v-divider>
                  </template>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="./app.js"></script>
</body>
</html>