<!DOCTYPE html>
<html>
<head>
  <title>炎上エミュレータ</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container grid-list-sm>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-card-title class="headline grey lighten-2">How to play</v-card-title>
                <v-card-text>
                  次々と投稿される誹謗中傷コメントをクリックして削除しよう<br>
                  ただし投稿の中には普通のコメントもあるので、これらはクリックすると減点<br>
                  制限時間内により多くのコメントを削除できたら勝ち<br>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex offset-xs2 xs8 offset-xs2>
              <v-card>
                <v-img src="./icons/video.jpg" contain></v-img>
                <v-card-title>
                  <h2>メンタルのゆとり</h2>
                  <v-progress-linear v-model="score"></v-progress-linear>
                </template>
                </v-card-title>
                <v-card-actions>
                  <v-flex xs6>
                    <v-overflow-btn :items="levels"></v-overflow-btn>
                  </v-flex>
                  <v-flex offset-xs1 xs5>
                    <v-btn>START</v-btn>
                  </v-flex>
                  
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card>
                <v-toolbar color="cyan" dark>     
                  <v-toolbar-title>コメント ({{num_messages}}件) 得点:{{score}}点</v-toolbar-title>
                </v-toolbar>
        
                <v-list subheader>
                  <v-subheader>新着</v-subheader>
                  <v-list-tile
                    v-for="item in new_comment"
                    :key="item.name"
                    avatar
                    ripple
                    @click="setSpam"
                  >
                    <v-list-tile-action v-if="item.spam">
                      <v-icon color="red">warning</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-avatar>
                      <img :src="item.avatar">
                    </v-list-tile-avatar>
        
                    <v-list-tile-content>
                        <v-list-tile-sub-title v-html="item.name"></v-list-tile-sub-title>
                      <v-list-tile-title v-html="item.comment"></v-list-tile-title>
                    </v-list-tile-content>

                  </v-list-tile>
                </v-list>
          
                <v-divider></v-divider>
          
                <v-list subheader>
                  <v-subheader>コメント履歴</v-subheader>
        
                  <v-list-tile
                    v-for="item in comment_history"
                    :key="item.name"
                    avatar
                    @click=""
                  >
                    <v-list-tile-action v-if="item.spam">
                      <v-icon color="red">warning</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-avatar>
                      <img :src="item.avatar">
                    </v-list-tile-avatar>
        
                    <v-list-tile-content>
                      <v-list-tile-sub-title v-html="item.name"></v-list-tile-sub-title>
                      <v-list-tile-title v-html="item.comment"></v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>

              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="./app.js"></script>
</body>
</html>